## loop(반복문)

- 반복적인 작업을 가능하게 해주는 도구
- list, str,tuple 등 컬렉션 타입의 경우 아이템을 하나씩 순회하면서 사용(for)
- 특정 조건을 만족하는 경우 계속 수행(while)


1. 반복 횟수 알고 있음: for
2. 반복 횟수 몰라요: while

### 반복문(for)

In [12]:
# 컬렉션 타입을 활용
list_a=[1,2,3]
list_b=[6,5,4]


for num1 in list_a:# 안에 있는지 확인하는 in 과는 다름
    print(num1)

1
2
3

In [8]:
#range 함수 이용
# range(1,11)

list(range(1,11))
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
# emunerate 활용
# 반복 횟수(인덱스) 알고 싶은 경우 사용

a=[7,8,9]


for i,val in enumerate(a):
    print(i,val)

0 7
1 8
2 9

In [17]:
# 중첩 for문
for i in range(5):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [19]:
a=["A","B","C","D"]

for i,val in enumerate(a):
    print(f"index:{i} value:{val}")

index:0 value:A
index:1 value:B
index:2 value:C
index:3 value:D

In [24]:
#dict type
a={
    "korea":"seoul",
    "japan":"tokyo",
    "canada":"ottawa"
}

for key in a:
    print(key)

seoul
tokyo
ottawa

In [25]:
for value in a.values():
    print(value)

seoul
tokyo
ottawa

In [28]:
for key,value in a.items():  #items()는 튜플 반환 but,key,value로 언패킹 하였기 때문에 사라짐
    print(key,value)

korea seoul
japan tokyo
canada ottawa

In [35]:
# break 반복문 종료
a=[1,2,3,4,5]
for num in a:
    if num>3:
        break
    print(num)

1
2
3

In [36]:
# continue: 해당 반복을 건너뛰고 다음 반복으로 이동(반복문 종료)

a=[1,2,3,4,5]

for num in a:
    if num%2==0:
        continue
    print(num)

1
3
5

In [6]:
# 문제1. 구구단 출력


''' < 실무자 접근법>
2 x 1 = 2
2 x 2 = 4    ---->> 규칙 생성 (뒷수만 바뀜을 확인)-->  코드생성 
                                                        for i in range(1,10):
                                                            print(f"2 x {i} = {2*i}")
    .
    .
    .
2 x 9 = 2
'''
for i in range(1,10):
    for j in range(1,10):
        print(f"{i} x {j} = {i*j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [5]:
 
num=int(input("단수: "))
    
    

for i in range(1,10):
    print(f"{num} x {i} = {num*i}")

단수: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [11]:
 # 큰 반복 (2~9)  
     # 작은 반복(1~9)
for i in range(2,10):
    for j in range(1,10):
        print(f"{i} x {j} = {i*j}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [13]:
# 문제2. 1~30까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하라

for num in range(1,31):
    if num%2==0 or num%11==0:
        print(i)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30